*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height:2000;
    background-color:rgba(0, 0,0, 0.1)
   
}  

header{
    width: 100%;
    height: 200px;
    display: flex;
   flex-direction: row;
   justify-content: flex-start;  
}
.logo{
    width: 350px;
    height: 200px;   
}   
.imglogo{
    padding-left: 100px;
    padding-top: 30px; 
}
.links{
    width:500;
    height: 200;
    margin-left:50;
}
.headericons{
    width: 350;
    height: 200px;
    margin-left:50;
}
.first3links1{
position: absolute;
  
    display: flex;
    flex-direction: row;
top: 50;
}
.secound3links2{
   
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 75;

}
.headericons{
    padding-top: 50;  
}
.uppericons{
    background-color: red;
}
.lowericons{
    background-color: blue;
    height: 100;
    letter-spacing: 10px;
}

.fa-solid {
    font-size: xx-large;
    color: blue;
}


span{
    font-size: x-large;
}
.furniture , .armoires , .studytable{
    float: left;
    margin-left: 15px;
}
.furniture::after{
    content: "tables study table -- tables study table -- tables study table  tables  product1   product 2   product 3  ";
   
    width: 350px;
    height:100px;
    margin-top: 3px;
    margin-left: 5px;
    display: block;
    position: absolute;
    z-index: -1;
    visibility: hidden;
}
.furniture::after{
  content: "-- product line 1 --- product line 2 --- product line 3 ----------  first  ------------  secound -----------  third --------------  first  ------------  secound -----------  third --------------  first  ------------  secound -----------  third --------------  first  ------------  secound -----------  third -------";
  color:blue;
  background-color:bisque;
}
.furniture:hover{
    border-style: hidden;
    animation-name: B;
    animation-duration: 0.5s;
}
.furniture:hover::after{
    visibility: visible;
    z-index: 3;
}
.armoires:hover{
    border-style: hidden;
    animation-name: B;
    animation-duration: 1s;
}
.studytable:hover{
    border-style: hidden;
    animation-name: B;
    animation-duration: 1s;
}
@keyframes B{
50%{ border-top: black;
border-bottom: black;}
100%{border-style: solid;}
}
/* ///////////////////////////////////////////////////////////////////// */
.main{
    width: 900;
    height: 500;
    position: relative;
}
.mainimg{
    width: 900;
    height: 500;
    padding-left: 100;
    z-index: 3;
}
.mainicons1{
    position: absolute;
  padding-left: 850;
 z-index: 5;
 top: 300;
 visibility: hidden;
}

.mainicons1::after{
    content: " visual search ";
    width: 150px;
    height:70cm;
    margin-top: 3px;
    margin-left: 5px;
    display:inline;
    position: absolute;
    z-index: 7;
    visibility: hidden;
    color: blue;
}
.mainicons1:hover::after{
    visibility: visible;
}

.fab, .far, .fa{
    font-size: xx-large;
    color: blue;
}
.fa-brands{
    font-size: xx-large;
    color: blue; 
}

.mainicons2{
    position: absolute;
  padding-left: 850;
 z-index: 5;
 top:350;
 visibility: hidden;
}
.mainicons2::after{
    content: " save ";
    width: 150px;
    height:70cm;
    margin-top: 3px;
    margin-left: 5px;
    display:inline;
    position: absolute;
    z-index: 7;
    visibility: hidden;
    color: blue;
}
.mainicons2:hover::after{
    visibility: visible;
}
.mainicons3{
    position: absolute;
  padding-left: 850;
 z-index: 5;
 top:400;
 visibility:hidden;
}

.mainicons3::after{
    content: " whatsapp ";
    width: 150px;
    height:70cm;
    margin-top: 3px;
    margin-left: 5px;
    display:inline;
    position: absolute;
    z-index: 7;
    visibility: hidden;
    color: blue;
}
.mainicons3:hover::after{
    visibility: visible;
}
.image:hover .mainicons1{
    visibility: visible;
}
.image:hover .mainicons2{
    visibility: visible;
    transition-delay: 0.5s;
}
.image:hover .mainicons3{
    visibility: visible;
    transition-delay: 1s;
}
/* ///////////////////////////////////////////////////////////////////////////// */
.section1{
    position: relative;
}
.specialcategory{
    width: 1000;
 }
.allimages{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.h2specialcategory{
text-align: center;
font-size: xx-large;
color: green;
}
.SCunderline{
    width: 100;
    height: 3;
    background-color: aquamarine;
    margin: auto;
    top: 75;
    transition: 1.5s;
}
.SCunderline:hover {
   transform:scaleX(2)
}
.imgm1, .imgm2, .imgm3, .imgm4{
    width: 200;
    height: 200;
}

.machine1, .machine2, .machine3, .machine4{
    margin-top:50;
}
.mostpopular{
    display: flex;
flex-direction: row;

justify-content: space-evenly;
}
.m1line1, .m2line1, .m3line1, .m4line1{
    color: gray;
    opacity: 0.5;
}
.fas{
    visibility: hidden;
    text-align: right;
   padding-left: 150;  
}
.mostpopular1:hover  .fas{
    visibility: visible;
}
.mostpopular2:hover  .fas{
    visibility: visible;
}
.mostpopular3:hover  .fas{
    visibility: visible;
}
.mostpopular4:hover  .fas{
    visibility: visible;
}
/* }
///////////////////////////////////////////////////////////////////////////// */ 

.section2{
    width: 1000;
    height: 400;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.imgd1, .imgD2{
    width:250;
    height: 300;
}
.penelope{
    width: 400;
    height: 300;  
    background-color:lavenderblush;
}
.discount1, .discount2{
    width: 250;
    height: 200;   
}

.discount1:hover{
    scale: 1.2;
}
 .discount2:hover{
    scale: 1.2;
}

.h2penelope{
    font-size: xx-large;
}
.historicalaspects{
    font-size: larger;
   line-height:2;
}
/* ///////////////////////////////////////////////////////////////////////// */
.movingicons{
    width: 1000;
    height: 200px;
    display: flex;
    flex-direction: row;
     justify-content: center;
}

.imgmov1, .imgmov2, .imgmov3, .imgmov4, .imgmov5{
    width: 100;
    height: 100;
}

.icon1, .icon2, .icon3, .icon4, .icon5{
    width: 150;
    height:150;
   
}
.long1, .long2, .long3, .long4{
    width: 3px;
    height:100;
    background-color: aquamarine;
    margin-right:25;
}
.icon1{
    background-attachment:local;
    background-image:  url("../images/jobs.jpeg") ; height:100;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
   
}

.icon2{
    background-attachment:local;
    background-image:  url("../images/production.png") ; height:100;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.icon3{
    background-attachment:local;
    background-image:  url("../images/reports.jpeg") ; height:100;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.icon4{
    background-attachment:local;
    background-image:  url("../images/sales.png") ; height:100;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.icon5{
    background-attachment:local;
    background-image:  url("../images/training.jpeg") ; height:100;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.follow{
    margin-top: 110;
}

.icon1::after{
    position: absolute;
    content: "";
    height:100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color:rgba(0, 0,0, 0.2)
}
.icon2::after{
    position: absolute;
    content: "";
    height:100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color:rgba(0, 0,0, 0.2)
}
.icon3::after{
    position: absolute;
    content: "";
    height:100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color:rgba(0, 0,0, 0.2)
}
.icon4::after{
    position: absolute;
    content: "";
    height:100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color:rgba(0, 0,0, 0.2)
}
.icon5::after{
    position: absolute;
    content: "";
    height:100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color:rgba(0, 0,0, 0.2);
    transition: 0.5s;
    
}
.icon1:hover::after{
    height: 100%;
    width:100%;
    bottom: 0;
    animation-name: fade;
    animation-duration:0.3s;
    animation-fill-mode: forwards;
     }

     .icon2:hover::after{
        height: 100%;
        width:100%;
        bottom: 0;
        animation-name: fade;
        animation-duration:0.3s;
        animation-fill-mode: forwards;
         }
         .icon3:hover::after{
            height: 100%;
            width:100%;
            bottom: 0;
            animation-name: fade;
            animation-duration:0.3s;
            animation-fill-mode: forwards;
             }
             .icon4:hover::after{
                height: 100%;
                width:100%;
                bottom: 0;
                animation-name: fade;
                animation-duration:0.3s;
                animation-fill-mode: forwards;
                 }
                 .icon5:hover::after{
                    height: 100%;
                    width:100%;
                    bottom: 0;
                    animation-name: fade;
                    animation-duration:0.3s;
                    animation-fill-mode: forwards;
                     }


@keyframes fade {
    0%{transform: translate( 0 , 100% );
    position: absolute;} 
    100%{transform: translate( 0  , -100% );
    position: absolute;
    background-color:rgba(0, 0,0, 0);}
}

/* ///////////////////////////////////////////////////////////////// */

.featuredproducts{
    width: 900;
    height: 700;
  
}
.h2featuredproducts{
    font-size: xx-large;
text-align: center;
margin-top: -100;
margin-left: 200;
}
.HLfeaturedproducts{
    height: 3px;
    width: 100px;
    background-color:blueviolet;
   top: 1970;
    transition: 1.5s;
    position: absolute;
  left:470;
}
.HLfeaturedproducts:hover{
    transform: scaleX(2);
}
.templates{
    display: grid;
    grid-template-columns: repeat(3,25%);
    grid-template-rows: repeat(2, 300px);
    gap: 10px;
    grid-gap: 10px  100px  ;
    margin: auto;
    padding-left: 100;
}
.temp1, .temp2, .temp3, .temp4, .temp5, .temp6 {
    width: 250;
    height: 250;  

}
.contactus{
    width: 250;
    height: 250;
    opacity: 0.8;
}


.temp1{
    background-image:  url("../images/chitocal.jpg")  ;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.temp2{
    background-image:  url("../images/cipro.gif") ; 
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.temp3{
    background-image:  url("../images/levoflox.gif") ;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.temp4{
    background-image:  url("../images//tabuvan.jpg") ; 
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.temp5{
    background-image:  url("../images/sutrim.jpg") ; 
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-color: red;
}
.temp6{
    background-image:  url("../images/omol.jpeg") ; 
    background-repeat: no-repeat;
    position: relative;
}
.over1, .over2, .over3, .over4, .over5, .over6{
    visibility: hidden;
    z-index: 5;
    width: 250;
    height: 250;  
    position: relative;
}
.fa{
    font-size: x-large;
    color: blue;
}
.temp1:hover .over1{
    visibility: visible;
    position: absolute;
    width: 250;
    height: 250;  

}
.icons1, .icons2, .icons3, .icons4, .icons5, .icons6{
    position: absolute;
    top: 50%;
    left:25%;
  }
  .temp2:hover .over2{
    visibility: visible;
    position: absolute;
    width: 250;
    height: 250;  

}
.temp3:hover .over3{
    visibility: visible;
    position: absolute;
    width: 250;
    height: 250;  

}
.temp4:hover .over4{
    visibility: visible;
    position: absolute;
    width: 250;
    height: 250;  

}
.temp5:hover .over5{
    visibility: visible;
    position: absolute;
    width: 250;
    height: 250;  

}
.temp6:hover .over6{
    visibility: visible;
    position: absolute;
    width: 250;
    height: 250;  
}
.price .fa-solid{
    font-size:xx-small;
}
.price .fa-regular{
    font-size:xx-small;
}
.price h2{
    font-size: small;
}
